<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>webpack测试</title>
</head>
<body>
    <div class="main" id="app">
        <input type="text"  v-model="str">
        <div style="color:red">{{str}}</div>
        <!-- <input type="text" v-model="child.childData"> -->
        <div style="color: blue" v-text="child.childData"></div>
        <div style="color: blue" v-text="text"></div>
        <!-- {{str}} -->
        <input type="button" value="清除"  @click="clear">
        <input type="button" value="设置子对象" @click="setChild">
    </div>
</body>
</html>
